@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
a.active hr{
    display: block;
}
*{
    font-family: Outfit;
      
}
.prata-regular{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
.light-luxiary{
    
        font-family: 'Playfair Display', serif;
        font-size: 13px;
        font-weight: 200;
        /* text-transform: uppercase; */
        letter-spacing: 2px;
    
    
}


::-webkit-scrollbar{
    display: none;
}

@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}